* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/**************************/
/*   Nav Section Elements */
/**************************/
.nav-logo {
  text-decoration: none;
  font-size: 3em;
  color: white;
}

.float-right {
  float: right;
  padding-top: 10px;
}

.nav-items {
  display: inline;
  padding: 0 2em 10px 10px;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 2em;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: white;
  color: #393d3f;
}

.nav-bar {
  width: 100%;
  background-color: #393d3f;
}
/**************************/
/*     Header Picture     */
/**************************/
.picture-container {
  width: 100%;
  height: 30em;
  background-image: url("../images/skyline-from-Symphony-House.png");
  background-size: cover;
  position: relative;
  box-shadow: -4px -14px 5px -8px rgba(0, 0, 0, 0.75) inset;
}

.sub-header-container {
  text-align: right;
  position: relative;
  top: 25rem;
  color: white;
  padding-right: 3em;
  font-size: xx-large;
  font-weight: 800;
}

.sub-header {
  text-shadow: 5px 5px 8px #000000;
}

/**************************/
/* About Section Elements */
/**************************/

.content-section {
  margin: 5% auto 0 auto;
  display: flex;
}

.about-me-photo {
  width: 30%;
  margin: 0 0 0 5%;
  border-radius: 10px;
  box-shadow: -3px 1px 45px -2px rgba(134, 134, 134, 0.75);
}

.about-me-details {
  display: flex;
}

.about-me-details p {
  font-size: larger;
}

/**************************/
/* Work Section Elements */
/**************************/

.subarea-one {
  width: 20%;
  text-align: right;
}

.subarea-one h2 {
  margin: 0 10px 0 0;
  font-size: xx-large;
  width: 66%;
  float: right;
}

.subarea-two {
  width: 70%;
  border-left: 6px solid black;
}

.subarea-two a {
  text-decoration: none;
  display: contents;
}

.subarea-two p {
  margin: 0 0 0 3%;
}

.main-project-tile {
  margin: 0 0 0 5%;
  height: 20em;
  background-image: url("../images/contact-form-landing-page.png");
  background-size: cover;
  border: 6px solid black;
}

.main-project-subtitle {
  position: relative;
  top: 14em;
  font-size: large;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  color: black;
}

.project-tile-container {
  display: flex;
  margin: 2.5% 0 0 5%;
}

.hover-highlight:hover .main-project-subtitle {
  border: 6px solid rgba(255, 228, 228, 0.75);
  box-shadow: -3px 1px 45px -2px rgba(134, 134, 134, 0.75);
}

.hover-highlight:hover .project-tile-subtitle {
  border: 6px solid rgba(255, 228, 228, 0.75);
  box-shadow: -3px 1px 45px -2px rgba(134, 134, 134, 0.75);
}

.hover-highlight:hover {
  border: 6px solid rgba(255, 228, 228, 0.75);
  box-shadow: -3px 1px 45px -2px rgba(134, 134, 134, 0.75);
}

.project-tile {
  height: 8em;
  background-color: rgb(97, 97, 232);
  border: 6px solid black;
  width: 100%;
}

.tile-left {
  margin: 0 2% 0 0;
}

.tile-right {
  margin: 0 0 0 2%;
}

.project-tile-subtitle {
  position: relative;
  top: 4em;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
}

#project-two {
  background-image: url("../images/tic-tac-toe-screenshot.png");
  background-size: cover;
  width: 100%;
}

#project-three {
  background-image: url("../images/rock-paper-scissors-screenshot.png");
  background-size: cover;
  width: 100%;
}

#project-four {
  background-image: url("../images/guess-the-number-screenshot.png");
  background-size: cover;
  width: 100%;
}

#project-five {
  background-image: url("../images/prework-study-guide-screenshot.png");
  background-size: cover;
  width: 100%;
}

/**************************/
/*    Contact Section     */
/**************************/

.contact-list {
  list-style-type: none;
  display: flex;
  text-align: center;
}

.contact-list-item {
  flex-basis: 33%;
}

.contact-list-item a {
  font-size: large;
  font-weight: bold;
  color: black;
}

/**************************/
/*    Resume Section      */
/**************************/
.resume-container {
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: black;
}

.resume-link {
  color: black;
  font-size: x-large;
}

/**************************/
/*     Footer Section     */
/**************************/
.footer {
  font-size: 1em;
  text-align: center;
  margin: 5% 0 0 0;
}

/**************************/
/*  Responsive Section    */
/**************************/

@media screen and (max-width: 1086px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .float-right {
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    padding: 0 2em 10px 10px;
    border-radius: 10px;
    display: block;
    text-align: center;
  }

  .sub-header {
    display: none;
  }

  .subarea-one {
    display: none;
  }

  .subarea-two {
    width: 100%;
    border: none;
  }

  .about-me-details {
    display: flex;
    flex-direction: column;
  }

  .about-me-photo {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 5%;
  }

  .main-project-tile {
    margin: auto;
    width: 90%;
  }

  .project-tile-container {
    margin: 2.5% 0 0 0;
  }

  .project-tile {
    width: 48%;
  }

  .tile-left {
    margin: 0 2% 0 5%;
  }

  .tile-right {
    margin: 0 5% 0 2%;
  }

  .project-tile-subtitle {
    font-size: small;
  }

  .contact-list {
    display: block;
    padding: 0;
  }

  .nav-link {
    font-size: 1.5em;
  }
}
